## Tools
    - Visual Studio Code
        ** Vs Code Extension
            - Tailwind CSS IntelliSense 
            - Go Extension
            - Prettier - Code formatter
            - vscode-icons
    - Postman (Testing API)
    - Chrome (For Web Interface)

## Fontend
    - ReactJS (Nextjs)
    - Tailwindcss (Untuk Styling Interface)

## Backend
    - Golang (Programming leanguage)
    - Echo Framework
    - Gorm 
    - Driver Postgres
    - Godotenv

## Database
    - Postgres SQL


 